import init.mt6580.usb.rc
import init.nvdata.rc

on early-init
    mount debugfs /sys/kernel/debug /sys/kernel/debug
    chown system system /sys/kernel/debug
    chmod 0755 /sys/kernel/debug

on init
    #export LD_PRELOAD "libshim_zw.so"
    # mount points
    mkdir /protect_f 0771 system system
    mkdir /protect_s 0771 system system
    mkdir /persist   0771 system system

    chown root system /dev/kmsg
    chmod 0660 /dev/kmsg

on charger
    start spm_script
    write /sys/devices/platform/battery_meter/FG_daemon_log_level 7
    start fuelgauged
    start kpoc_charger
    start servicemanager

    # disable USB
    write /sys/devices/platform/mt_usb/cmode 0

on fs
    wait /dev/block/platform/mtk-msdc.0/${ro.boot.bootdevice}
    symlink /dev/block/platform/mtk-msdc.0/${ro.boot.bootdevice} /dev/block/platform/mtk-msdc.0
    mount_all /fstab.mt6580
    swapon_all /fstab.mt6580

on post-fs
    # Support legacy paths
    symlink /sdcard /storage/sdcard0

    chown system system /protect_f
    chmod 0770 /protect_f

    chown system system /protect_s
    chmod 0770 /protect_s

    chown system system /persist
    chmod 0770 /persist
    
    # Workaround for old nvram blobs
    mkdir /dev/block/platform/mtk-msdc.0/by-name 0755 root system
    symlink /dev/block/platform/mtk-msdc.0/11230000.MSDC0/by-name/nvram /dev/block/platform/mtk-msdc.0/by-name/nvram

on post-fs-data
    # M4U
    chmod 0444 /dev/m4u

    #set mlock limit to infinate (for m4u operation)
    setrlimit 8 -1 -1

    # CMDQ
    chmod 0640 /dev/mtk_cmdq
    chown system system /dev/mtk_cmdq

    # Sensor
    chmod 0660 /dev/hwmsensor
    chmod 0660 /dev/gsensor
    chmod 0660 /dev/als_ps
    chmod 0660 /dev/aal_als

    chown system system /dev/hwmsensor
    chown system system /dev/gsensor
    chown radio system /dev/als_ps
    chown system system /dev/aal_als

    # VideoCodec
    mknod /dev/Vcodec c 160 0
    chmod 0660 /dev/Vcodec
    chown media system /dev/Vcodec

    mkdir /data/amit/ 0770 system system
		mkdir /data/misc/sensor 0774 system system
    mkdir /data/misc/akmd 0770 system system
    mkdir /data/misc/s62x 0771 compass compass
    mkdir	/data/data/mcube 0664 system system

    # Display
    chmod 0660 /dev/graphics/fb0
    chown system graphics /dev/graphics/fb0

    chmod 0660 /dev/mtk_disp_mgr
    chown system graphics /dev/mtk_disp_mgr

    chmod 0660 /dev/mtkfb_vsync
    chown system graphics /dev/mtkfb_vsync

    chmod 0660 /dev/sw_sync
    chown system graphics /dev/sw_sync

    # Android SEC related device nodes
    chmod 0660 /dev/sec
    chown root system /dev/sec

    # FM Radio device node
    mknod /dev/fm     c 193 0;
    chmod 0660 /dev/fm
    chown media media /dev/fm

    # device info /proc interface
    mknod /dev/devmap c 196 0;
    chmod 0444 /dev/devmap
    chown root media /dev/devmap

    # bluetooth
    mkdir /data/@btmtk 0770 bluetooth net_bt
    # Use uinputs default permission
    chown system net_bt_admin /dev/uinput

    # SMI
    chmod 0660 /dev/MTK_SMI
    chown system camera /dev/MTK_SMI

    chmod 0664 /sys/bus/platform/drivers/mem_bw_ctrl/concurrency_scenario
    chown media media /sys/bus/platform/drivers/mem_bw_ctrl/concurrency_scenario

    # mtk_sched
    chmod 0660 /dev/mtk_sched
    chown system media /dev/mtk_sched

    # BT SCO CVSD, for MT6572 and MT6582 CVSD codec on AP
    chmod 0660 /dev/ebc
    chown media media /dev/ebc

    # autok
    chown root system /sys/autok/debug
    chown root system /sys/autok/param_count
    chown root system /sys/autok/ready
    chown root system /sys/autok/ss_corner
    chown root system /sys/autok/suggest_vol
    chown root system /sys/autok/stage1/3/DONE
    chown root system /sys/autok/stage1/3/PARAMS
    chown root system /sys/autok/stage1/3/VOLTAGE
    chown root system /sys/autok/stage1/3/LOG
    chown root system /sys/autok/stage2/3

    # Thermal	
    mkdir /data/.tp/ 0775 system system

    # Disable package parsing to allow for faster incremental development.
    setprop pm.boot.disable_package_cache true

on boot
    write /proc/sys/vm/dirty_writeback_centisecs 300

    # By default, the Linux kernel swaps in 8 pages of memory at a time. 
    # When using ZRAM, the incremental cost of reading 1 page at a time is negligible
    # and may help in case the device is under extreme memory pressure
    write /proc/sys/vm/page-cluster 0

    write /sys/kernel/mm/ksm/pages_to_scan 100
    write /sys/kernel/mm/ksm/sleep_millisecs 500
    write /sys/kernel/mm/ksm/run 1

    chmod 0660 /sys/power/autosleep

    chown system system /sys/devices/system/cpu/cpufreq/hotplug/cpu_num_base
    chmod 0660 /sys/devices/system/cpu/cpufreq/hotplug/cpu_num_base
    chown root   system /sys/kernel/debug/binder/transaction_log_enable
    chown root   system /sys/kernel/debug/binder/perf_evalue

    chmod 0664 /sys/class/leds/lcd-backlight/brightness
    chown root   radio  /sys/class/leds/lcd-backlight/duty
    chown root   radio  /sys/class/leds/lcd-backlight/div
    chown system system /sys/class/leds/lcd-backlight/trigger
    chown system system /sys/class/leds/button-backlight/trigger
    chown system system /sys/class/leds/keyboard-backlight/trigger
    chown system system /sys/class/leds/jogball-backlight/trigger
    chown system system /sys/class/leds/red/trigger
    chown system system /sys/class/leds/green/trigger
    chown system system /sys/class/leds/blue/trigger

    # HMP CPU hotplug strategy
    chown system system /proc/hps/num_base_perf_serv
    chmod 0660 /proc/hps/num_base_perf_serv
    chown system system /proc/hps/num_limit_power_serv
    chmod 0660 /proc/hps/num_limit_power_serv
    chown system system /proc/hps/num_limit_ultra_power_saving
    chmod 0660 /proc/hps/num_limit_ultra_power_saving
    chown system system /proc/hps/down_threshold
    chmod 0660 /proc/hps/down_threshold
    chown system system /proc/hps/up_threshold
    chmod 0660 /proc/hps/up_threshold

    # CPU freq
    chown system system /proc/cpufreq/cpufreq_limited_by_hevc
    chmod 0660 /proc/cpufreq/cpufreq_limited_by_hevc
    chown system system /proc/cpufreq/cpufreq_limited_max_freq_by_user
    chmod 0660 /proc/cpufreq/cpufreq_limited_max_freq_by_user

    # WMT proc
    chown shell system /proc/driver/wmt_dbg
    chown shell system /proc/driver/wmt_aee
